@font-face {
  font-family: montReg;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: montBold;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: montLight;
  src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
}

@font-face {
  font-family: montSemiBold;
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

h3 {
  font-family: montSemiBold;
}

* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: montReg;
  line-height: 1.5;
  font-size: 20px;
}

html{
  overflow: hidden;
}

.center-text{
  text-align: center;
}

nav {
  position: -webkit- sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #358597;
  min-height: 50px;
}

strong {
  font-family: montSemiBold;
}

.logo {
  margin-left: 10vw;
  color: white;
  cursor: default;
}
.logo a {
  text-decoration: none;
  color: white;
}

.page {
  position: absolute;
  height: calc(100vh - 50px);
  display: flex;
  overflow: hidden;
  position: relative;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.landing-page {
  /*background-color: black;*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../assets/prosthesis.jpg');
  background-position: center;
  background-size: cover;

  color: white;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-page h1 {
  font-family: montBold;
  margin-left: 10vw;
  font-size: 76px;
  margin-right: 200px;
  line-height: 1;
  padding-bottom: 30px;
}

.landing-page h3 {
  font-family: montLight;
  margin-left: 10vw;
}


.bottom {
  bottom: 0px;
}

.top{
  top: 0px;
}
.move-button {
  position: absolute;
  background: transparent;
  border: none;
  height: 10vh;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.move-button:focus {
  outline: none;
}

#disclaimer-buttons{
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  font-weight: bold;
}

#disclaimer-buttons a {
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0px 50px 25px 0px;
}

.buttons {
  padding-top: 50px;
  padding-left: 10vw;
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  font-weight: bold;
}

.white {
  color: white;
}

.black {
  color: black;
}

.buttons a {
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0px 50px 25px 0px;
}

#button2 {
  font-family: montLight;
}

.grid {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  justify-content: center;
  top: 8vh;
  min-height: 85vh;
}

.disclaimer-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  min-width: 100vw;
}

#disclaimer-title {
  font-family: montBold;
  font-size: 36px;
  padding-bottom: 0.75rem;
}

#disclaimer-description {
  max-width: 80vw;
}

.form{
  max-width: 80vw;
}

.form-input {
  width: 40vw;
}


.form h4 {
  font-family: montLight;
  font-size: 16px;
}

.header-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-justify: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 50px);
}

.header-page h1 {
  font-family: montReg;
  font-size: 70px;
  line-height: normal;
}

.header-page h2 {
  font-size: 40px;
}

.paragraph-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2/3;
}

.paragraph-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 3/4;
}

#pat-image {
  height: 70vh;
}

#meet-pat-text {
  line-height: 2;
  font-size: 20px;
}

#meet-pat-text h2 {
  font-size: 50px;
  padding-bottom: 10px;
}

#meet-pat-text p {
  padding-bottom: 20px;
}

@media (max-width: 1000px) {
  .landing-page h1 {
    font-size: 60px;
  }
}

@media (max-width: 800px) {
  .landing-page h1 {
    font-size: 50px;
  }

  .buttons{
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .landing-page h1 {
    font-size: 40px;
  }

  .landing-page h3 {
    font-size: 16px;
  }

  .buttons a{
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .landing-page h1 {
    font-size: 30px;
  }
}
